.about {
  background-color: $main-color;
  min-height: 645px;
  margin: 0 auto;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-height: 589px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-height: 602px;
    width: $desktop-width;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 28px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 224px;
  }
}

.about__wrapper--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 83px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.about__wrapper--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__list {
  @include style-none;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  min-height: 286px;

  font-size: $main-font-size;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.1;
    min-height: 353px;
    width: 334px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.1;
    min-height: 353px;
    width: 353px;
  }
}

.about__item {
  position: relative;
  margin-bottom: 83px;

  @media (min-width: $tablet-width) {
    margin-bottom: 112px;
  }
}

.about__wrapper--left .about__item {
  width: 220px;

  &:first-child {
    width: 180px;

    @media (min-width: $tablet-width) {
      width: 200px;
    }
  }
}

.about__wrapper--right .about__item {
  width: 235px;


  @media (min-width: $tablet-width) {
    width: 275px;
  }
}

.about__wrapper--left .about__item:last-child,
.about__wrapper--right .about__item:last-child {
  margin-bottom: 0;
}

.about__title {
  @include style-none;
  @include title-mobile;
  letter-spacing: 1px;
  margin-left: 28px;
  margin-bottom: 86px;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    margin-left: 47px;
    margin-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    @include title;
    margin-top: 57px;
    margin-left: 222px;
    margin-bottom: 101px;
  }
}


.about__item-icon-flower {
  position: absolute;
  width: 33px;
  height: 38px;
  fill: $mint-color;
  bottom: 57px;
  right: 138px;

  @media (min-width: $tablet-width) {
    bottom: 60px;
    right: 159px;
  }

  @media (min-width: $desktop-width) {
    right: 158px;
  }
}

.about__item-icon-money {
  position: absolute;
  width: 47px;
  height: 27px;
  fill: $mint-color;
  bottom: 67px;
  right: 171px;

  @media (min-width: $tablet-width) {
    bottom: 69px;
    right: 172px;
  }

  @media (min-width: $desktop-width) {
    right: 171px;
  }
}

.about__item-icon-heart {
  position: absolute;
  width: 34px;
  height: 27px;
  fill: $mint-color;
  bottom: 62px;
  right: 177px;

  @media (min-width: $tablet-width) {
    bottom: 64px;
    right: 178px;
  }

  @media (min-width: $desktop-width) {
    right: 177px;
  }
}

.about__item-icon-ball {
  position: absolute;
  width: 35px;
  height: 34px;
  fill: $mint-color;
  bottom: 58px;
  right: 195px;

  @media (min-width: $tablet-width) {
    bottom: 60px;
    right: 237px;
  }

  @media (min-width: $desktop-width) {
    bottom: 61px;
    right: 239px;
  }
}

.about__item-icon-rocket {
  position: absolute;
  width: 55px;
  height: 23px;
  fill: $mint-color;
  bottom: 68px;
  right: 184px;

  @media (min-width: $tablet-width) {
    bottom: 69px;
    right: 226px;
  }

  @media (min-width: $desktop-width) {
    bottom: 71px;
    right: 228px;
  }
}

.about__item-icon-gift {
  position: absolute;
  width: 33px;
  height: 32px;
  fill: $mint-color;
  bottom: 61px;
  right: 197px;

  @media (min-width: $tablet-width) {
    bottom: 63px;
    right: 239px;
  }

  @media (min-width: $desktop-width) {
    right: 241px;
  }
}
