.container {
  margin: 0 auto;
  min-width: $mobile-width;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
