@media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
  (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
  .feedback {
    background-image: url("../img/review@2x.jpg");
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi),
  (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .feedback {
    background-image: url("../img/review@2x.jpg");
  }
}

.feedback {
  background-color: $main-color;
  position: relative;
}

.feedback__wrapper--main {
  min-height: 680px;

  @media (min-width: $tablet-width) {
    min-height: 545px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    min-height: 550px;
    margin-left: 50px;
  }
}

.feedback__wrapper--ttl {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.feedback__wrapper--add {
  display: flex;
  flex-direction: column;
  margin-left: 28px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 49px;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-left: 173px;
  }
}

.feedback__nickname {
  @include style-none;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  line-height: 1.8;
  letter-spacing: 0;
}

.feedback__body {
  @include style-none;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 2;
  font-weight: $main-font-weight;
  width: 260px;
  margin-top: 23px;
  margin-bottom: 28px;
  margin-left: 28px;

  @media (min-width: $tablet-width) {
    font-size: $main-font-size;
    line-height: 1.8;
    width: 730px;
    margin-top: 45px;
    margin-bottom: 34px;
    margin-left: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 825px;
    margin-top: 45px;
    margin-bottom: 34px;
    margin-left: 174px;
  }
}

.feedback__name {
  @include style-none;
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0;
}

.feedback__title {
  @include style-none;
  @include title-mobile;
  margin-top: 56px;
  margin-left: 28px;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    margin-top: 77px;
    margin-left: 45px;
  }

  @media (min-width: $desktop-width) {
    @include title;
    margin-top: 72px;
    margin-left: 171px;
  }
}

.feedback__write {
  @include button;
  height: 52px;
  width: 260px;
  padding: 14px 78px;
  position: absolute;
  top: 581px;
  left: 30px;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    height: 53px;
    width: 176px;
    padding: 16px 39px;
    top: 79px;
    left: -50px;
  }
}

.feedback__wrapper--btn {
  margin-top: 28px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    margin-right: 69px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
  }
}

.feedback__prev,
.feedback__next {
  border: 1px solid #ececec;
  padding: 10px 39px;
  background-color: $main-color;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border-style: none;
    padding: 0;
  }
}

.feedback__next {
  border-left-style: none;
  margin-left: -7px;

  @media (min-width: $tablet-width) {
    margin-left: 31px;
  }
}

.feedback::before {
  content: "";
  position: absolute;
  width: 325px;
  height: 7px;
  top: 678px;
  left: -3px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 325px;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    width: 776px;
    height: 17px;
    top: 524px;
    left: -6px;
    background-size: 775px;
  }

  @media (min-width: $desktop-width) {
    width: 1060px;
    height: 23px;
    top: 523px;
    left: 41px;
    background-size: 1057px;
  }
}
