.main-list {
  @include style-none;
  display: flex;
  flex-direction: column;
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 1.41;
  margin-top: 107px;
  margin-left: 75px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    order: 1;
    margin-top: 32px;
    margin-left: 48px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    margin-left: 50px;
  }
}

.main-list a {
  display: block;
  color: $main-font-color;
  margin-bottom: 55px;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 28px;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 79px;
  }
}

.main-list a[href] {
  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.main-list__item {
  position: relative;
}

.main-list__item::before {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 88px;
    top: 0;
    left: 234px;
    background-image: url("../img/Layer-12-copy.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main-list__item::after {
  display: block;
  content: "";
  position: absolute;
  width: $mobile-width;
  height: 1px;
  top: 51px;
  right: 0;
  background-image: url("../img/Layer-9.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-list__item:nth-child(1)::before {
  top: 158px;

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    top: -32px;
    left: 184px;
  }
}

.main-list__item:nth-child(2)::before {
  top: 237px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
