.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper--index {
  position: relative;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-header__logo-image {
  width: 86px;
  height: 35px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.page-header__logo-image--current:hover {
  opacity: 1;
}

.page-header__wrapper--catalog,
.page-header__wrapper--form {
  position: relative;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-height: 395px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  margin-top: 22px;
  margin-left: 115px;

  @media (min-width: $tablet-width) {
    position: relative;
    order: -1;
    margin-top: 23px;
    margin-left: 47px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    order: 0;
    margin: 0;
    margin-top: 9px;
  }
}

.page-header__toggle {
  display: block;
  position: absolute;
  width: 55px;
  height: 45px;
  background-color: $main-color;

  top: 17px;
  left: 251px;

  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header--closed .page-header__toggle::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 21px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.page-header--opened .page-header__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 21px;
    left: 15px;

    width: 26px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .page-header--closed .main-list__item,
  .page-header--closed .user-list__item {
    display: none;
  }

  .page-header--opened .page-header__wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--nojs .main-list__item {
    display: block;
  }

  .page-header--nojs .user-list__item {
    display: block;
  }
}
