.social {
  min-height: 160px;
  background-color: $dark-gray-color;

  @media (min-width: $tablet-width) {
    min-height: 143px;
  }
}

.social__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 667px;
    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 1045px;
  }
}

.social__list {
  @include style-none;
  display: flex;
  margin-top: 31px;
  margin-left: 82px;
  width: 146px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    margin-left: 71px;
  }
}

.social__list::before {
  display: block;
  content: "";
  position: absolute;
  width: 260px;
  height: 1px;
  top: 80px;
  left: 30px;
  background-image: url("../img/Layer-9.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social__item {
  margin-left: 5px;

  &:hover,
  &:focus {
    svg {
      fill: $dark-mint-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item:nth-child(2) {
  margin-top: -5px;
}
