.week-product {
  background-color: $main-color;
  min-height: 825px;
  padding-bottom: 30px;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-height: 630px;
    padding: 0;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-height: 682px;
    padding: 0;
    width: $desktop-width;
  }
}

.week-product__advantages {
  @include style-none;
  width: 300px;
  font-size: 15px;
  font-weight: $main-font-weight;
  line-height: 1.6;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: $main-font-size;
    line-height: 1.8;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.week-product__current {
  @include style-none;
  @include title-mobile;
  margin-left: 30px;
  margin-bottom: 5px;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    margin-left: 48px;
    margin-bottom: 0;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    @include title;
    margin-left: 39px;
    margin-bottom: 20px;
    z-index: 1;
  }
}

.week-product__description {
  font-size: 15px;
  font-weight: $main-font-weight;
  line-height: 1.3;
  border-collapse: collapse;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.week-product__feature,
.week-product__value {
  height: 38px;
  padding-bottom: 2px;
  padding-right: 4px;
  border-bottom: 1px solid #ececec;
}

.week-product__value {
  padding-left: 20px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 48px;
  }
}

.week-product__wrapper--price {
  position: relative;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: -27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.week-product__price {
  @include style-none;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.4;
  margin-left: 96px;
  margin-bottom: 25px;


  @media (min-width: $tablet-width) {
    position: absolute;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    top: -83px;
    left: 71px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -109px;
    left: 73px;
  }
}

.week-product__purchase {
  @include style-none;
  @include button;
  padding: 14px 83px;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -25px;
    padding: 14px 99px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -51px;
  }
}

.week-product__title {
  @include style-none;
  color: $mint-color;
  font-size: $main-font-size;
  font-weight: $bold-font-weight;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 28px;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    width: 100px;
    text-align: center;
    margin-left: 131px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 82px;
    margin-top: 15px;
  }
}

.week-product__wrapper--ttl {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.week-product__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 48px;
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 224px;
  }
}

.week-product__wrapper--main {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.week-product__wrapper--txt {
  margin-top: 26px;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    margin-left: 0;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 50px;
    margin-top: 26px;
  }
}

.week-product__pic {
  width: 260px;
  height: 315px;
  margin-left: 29px;

  @media (min-width: $tablet-width) {
    width: 333px;
    height: 404px;
    margin-left: 0;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
    margin-top: -132px;
    z-index: 0;
  }
}

.week-product__wrapper::before {
  content: "";
  position: absolute;
  width: 325px;
  height: 7px;
  left: 0;
  bottom: -42px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 325px;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    width: 776px;
    height: 17px;
    bottom: -96px;
    left: -55px;
    background-size: 775px;
  }

  @media (min-width: $desktop-width) {
    width: 1060px;
    height: 23px;
    left: -181px;
    background-size: 1057px;
  }
}
