.feedback {
  background-color: $main-color;
  min-height: 625px;
  background-image: url("../img/review@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 545px;
  }

  @media (min-width: $desktop-width) {
    min-height: 550px;
    margin-left: 50px;
  }
}

.feedback__wrapper--ttl {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 49px;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-left: 173px;
  }
}

.feedback__nickname,
.feedback__body {
  @include style-none;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  line-height: 1.8;
  letter-spacing: 1px;
}

.feedback__body {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 730px;
    margin-top: 45px;
    margin-bottom: 34px;
    margin-left: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 825px;
    margin-top: 45px;
    margin-bottom: 34px;
    margin-left: 174px;
  }
}

.feedback__name {
  @include style-none;
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 1.8;
}

.feedback__title {
  @include style-none;
  @include title-mobile;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    margin-top: 77px;
    margin-left: 45px;
  }

  @media (min-width: $desktop-width) {
    @include title;
    margin-top: 72px;
    margin-left: 171px;
  }
}

.feedback__write {
  @include button;
  height: 52px;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 175px;
    padding: 14px 38px;
    margin-top: 78px;
    margin-right: 432px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 79px;
    margin-right: 51px;
  }
}

.feedback__wrapper--btn {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    margin-right: 451px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
    margin-right: 69px;
  }
}

.feedback__next {
  margin-left: 31px;
}

.feedback::after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    content: "";
    position: absolute;
    width: $tablet-width;
    height: 17px;
    margin-top: 115px;
    background-image: url(../img/zigzag-line-tablet.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    content: "";
    position: absolute;
    width: 1050px;
    height: 23px;
    margin-top: 163px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
