.main-nav__shipping {
  font-size: 15px;
  font-weight: $main-font-weight;
  line-height: 24px;
  color: $main-font-color;
}

.site-list {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.site-list__item {
  color: $main-font-color;
}

.site-list__item:nth-child(1),
.site-list__item:nth-child(2) {
  font-size: $main-font-size;
}

.user-list {
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 24px;
}

.user-list__item {
  color: $main-font-color;
}
