.page-footer__title {
  @include style-none;
  @include title-mobile;
  font-size: 18px;
  line-height: 1.7;

  @media (min-width: $tablet-width) {
    @include title-tablet;
  }

  @media (min-width: $desktop-width) {
    @include title;
    margin-top: 140px;
    margin-left: 221px;
  }
}

.contacts__email {
  display: flex;
  @include style-none;
  margin-bottom: 29px;
}

.contacts__address {
  display: flex;
  @include style-none;
  width: 300px;
}

.contacts {
  min-height: 900px;

  @media (min-width: $tablet-width) {
    min-height: 930px;
  }

  @media (min-width: $desktop-width) {
    min-height: 635px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  margin-left: 224px;
}

.contacts__wrapper--main {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.contacts__wrapper--txt {
  display: flex;
  flex-direction: column;
}

.contacts__write {
  width: 100px;
}

.social {
  min-height: 160px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.social__list {
  display: flex;
}

.page-footer__developed {
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: $main-font-color;
}
