.page-main__title {
  @include title;
}

.page-main__invitation {
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  line-height: 0.6em;
}

.page-main-ttl__wrapper {
  background-color: $gray-color;
}
