.page-main__title {
  @include style-none;
  @include title-mobile;
  font-size: 27px;
  line-height: 1.1;
  text-align: center;
  padding-top: 72px;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    padding-top: 153px;
  }

  @media (min-width: $desktop-width) {
    @include title;
    padding-top: 155px;
  }
}

.page-main__wrapper--catalog .page-main__title,
.page-main__wrapper--form .page-main__title {
  padding-top: 71px;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
  }
}

.page-main__wrapper--catalog::before,
.page-main__wrapper--form::before {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    content: "";
    position: absolute;
    width: $tablet-width;
    height: 24px;
    margin-top: 214px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 772px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    content: "";
    position: absolute;
    width: $desktop-width;
    height: 34px;
    margin-top: 236px;
    margin-left: -6px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1163px;
  }
}

.page-main__invitation {
  @include style-none;
  font-size: 13px;
  font-weight: $main-font-weight;
  line-height: 1.85;
  letter-spacing: 0;
  min-height: 120px;
  width: 245px;
  padding-top: 21px;
  margin-left: 31px;

  @media (min-width: $tablet-width) {
    font-size: $main-font-size;
    line-height: 1.8;
    min-height: 65px;
    width: 630px;
    padding-top: 72px;
    margin-left: 51px;
  }

  @media (min-width: $desktop-width) {
    min-height: 65px;
    width: 680px;
    padding-top: 122px;
    margin-left: 226px;
  }
}

.page-main__wrapper--catalog,
.page-main__wrapper--form {
  background-color: $gray-color;
  min-height: 177px;
  margin-top: -28px;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-height: 225px;
    margin-top: -306px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-height: 253px;
    margin-top: -306px;
    width: $desktop-width;
  }
}

.page-main__wrapper--index {
  background-color: $gray-color;
  min-height: 282px;
  width: $mobile-width;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -28px;

  @media (min-width: $tablet-width) {
    min-height: 754px;
    width: $tablet-width;
    background-image: url("../img/hero-tablet@1x.jpg");
    margin-top: -43px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    background-image: url("../img/hero-desktop@1x.jpg");
    margin-top: -45px;
  }
}

@media (min-width: $mobile-width) and (min-resolution: $retina-dpi),
       (min-width: $mobile-width) and (min-resolution: $retina-dppx) {
  .page-main__wrapper--index {
    background-image: url("img/hero-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
       (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
  .page-main__wrapper--index {
    background-image: url("img/hero-tablet@2x.jpg");
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi),
       (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .page-main__wrapper--index {
    background-image: url("img/hero-desktop@2x.jpg");
  }
}
