.products__item-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: $main-font-color;
}

.products__item-property {
  font-size: 15px;
  font-weight: $main-font-weight;
  line-height: 30px;
  color: $main-font-color;
}

.products__item-price {
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 30px;
  color: $main-font-color;
}
