.week-product {
  background-color: $main-color;
}

.week-product__advantages {
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  line-height: 0.6em;
}

.week-product__current {
  @include title;
}

.week-product__description {
  font-size: 15px;
  font-weight: 20px;
  line-height: 0.8em;
}

.week-product__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 0.8em;
}

.week-product__title {
  color: $mint-color;
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.week-product-ttl__wrapper {
  display: flex;
}

.week-product__wrapper {
  display: flex;
}
